@import url('https://fonts.googleapis.com/css?family-Poppins:wght@300;400;500;600;700;800;900&display-swap');
*{

margin:0;

padding:0;

box-sizing: border-box;}

/* variables */

:root{

--primary-font-family: 'Poppins', sans-serif; 
--light-white: #f5f5f5;
--gray :#5e6278;
--gray-1:#e3e3e3;

}

body{

font-family:var(--primary-font-family);

font-size: 14px;

}

/* Main CSS /